.front {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-left: 7rem;
}
.lol{
    pointer-events: none;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hue-rotate {
    filter: hue-rotate(90)
}