.front {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    margin-left: 7rem;
}
.lol{
    pointer-events: none;
}
.back {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img{
    width: 230px;
    height: 230px;
}
#game{
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    background-color: red;
    position: absolute;
}